html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
canvas {
    display: block;
}
  
/* .no-list-decor{
    list-style: none;
}

a{
    color: #8a8ae1;
}

body{
    color: #ffffff;
    background: #262626;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    font-family: monospace;
    font-size: 16pt;
}

li{
    margin-top: 10pt;
    font-style: italic;
    list-style: "/ ";

} */